[Desktop Entry]
Version=1.0
Type=Application
Name=AutoripFLAC
Exec=gnome-terminal -e "/usr/local/bin/autoripFlac.sh %f"
Categories=Media;
Terminal=true
